.login{
height: 100vh;
background: #DDA0DD;
display: flex;
align-items: center;
justify-content: center;
  .card{
    display: flex;
    max-width: 720px;
    background-color: whitesmoke;
    border-radius: 10px;
    min-height: 600px;
    overflow: auto;
    .left{
      flex: 1;
      justify-content: center;
      background:  linear-gradient(rgba(0, 0, 0, 0.418),#af45af) ,url("https://images.unsplash.com/photo-1586105449897-20b5efeb3233?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: whitesmoke;
      h1{
        font-size: 100px;
        line-height: 100px;
      }
      p{}
      span{font-size: 14px;}
      button{
        width: 50%;
        border: none;
        padding: 5px 10px;
        color: #5f0b5f;
        font-size: 18px;
        font-weight: 600;
        cursor:pointer;
      }
    }
    .right{
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 55px;
      h1{
        color: #5f0b5f;
      }
      form{
        display: flex;
        flex-direction: column;
        gap: 35px;
        input{
          border: none;
          font-size: 1.1rem;
          font-weight: 600;
          border-bottom: 1px solid lightcoral;
          padding: 5px 10px;
          &:focus{
            outline: none;
          }
        }
        .submit-button{
          cursor: pointer;
          color: whitesmoke;
          width: 50%;
          border: none;
          outline: none;
          padding: 5px 10px;
          font-size: 18px;
          background-color: #5f0b5f;
        }
      }
    }
  }
}